version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: authdb
    restart: always
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev
      POSTGRES_DB: authdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
    container_name: backend_api
    restart: unless-stopped
    env_file:
      - ./backend/.env.docker
    depends_on:
      - postgres
    ports:
      - "4000:4000"

  frontend:
    build:
      context: ./frontend
    container_name: frontend_app
    restart: unless-stopped
    env_file:
      - ./frontend/.env.docker
    depends_on:
      - backend
    ports:
      - "3000:3000"

volumes:
  pgdata:
